<div class=''>
  Merge Articles
  <br>

  <div class='clearfix'>
    <label for="merge_with"><%= _("Article ID") %></label>

    <div class='input'>
      <%= text_field_tag :merge_with, 0 %>
    </div>
  </div>
  <div>
    <%= submit_tag(_('Merge'), :clas => 'btn', :name => "commit") %>
  </div>
</div>